.parent {
    margin-bottom: 10px;
}
.policy {
    border-radius: 10px;
    background-color: #E53B3B;
    color: #ffffff;
    display:inline-block;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.policydesc {
    color: darkslategrey;
    font-size: 15px;
    padding-bottom:10px;
}
.sibling {
    background-color: #FF9797;
    border-radius: 10px;
}